.custom-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 8px;
  min-width: 110px;
  cursor: pointer;

  &.primary {
    padding: 8px 8px;

    &.filled {
      background-color: var(--sidebar-background);
      color: var(--ternary-text-color);

      .mat-icon {
        color: var(--ternary-text-color);
      }
    }

    &.outlined {
      background-color: var(--secondary-background-color);
      color: var(--primary-text-color);
      border-color: var(--border-color);
    }

    &:hover {
      // background-color: var(--primary-color);
      // color: var(--secondary-text-color);
      background-color: var(--sidebar-background);
      color: var(--ternary-text-color);

      .mat-icon {
        color: var(--ternary-text-color);
      }
    }
  }

  &.navigation {
    background-color: var(--primary-background);
    color: var(--primary-text-color);
    min-width: 50px;
    padding: 5px;

    .material-icons {
      font-size: 1.6rem;
    }

    .mat-icon {
      height: 1.6rem;
      width: 1.6rem;
    }

    &:hover {
      // background-color: var(--secondary-color);
      // color: var(--primary-text-color);
      background-color: var(--sidebar-background);
      color: var(--ternary-text-color);

      .mat-icon {
        color: var(--ternary-text-color);
      }
    }

    &.active {
      background-color: var(--sidebar-background);
      color: var(--ternary-text-color);
    }
  }

  &:disabled,
  &.disabled {
    opacity: 0.7;
  }
}
