// Color pellate
:root {
  --primary-color: #3e9ad4; /* Company Blue */
  --secondary-color: #e4b21d; /* Company Dark */

  --primary-background: #f3f3f5; /* Soft off-white */
  --secondary-background: #ffffff;
  --sidebar-background: #1b4965; /* Light pastel blue for vibrance */
  
  --primary-text-color: #011c44; 
  --secondary-text-color: #e4b21e; 
  --ternary-text-color: white;

  --border-color: #011c44;
  --secondary-border-color: rgb(189, 189, 189); /* Softer borders */
  --primary-hover-color: #e4e4f1;
}
// :root {
//   --primary-color: #3e9ad4; /* Company Blue */
//   --secondary-color: #e4b21d; /* Company Dark */

//   --primary-background: #f3f3f5; /* Soft off-white */
//   --secondary-background: #ffffff;
//   --sidebar-background: #011c44; /* Light pastel blue for vibrance */
  
//   --primary-text-color: #011c44; 
//   --secondary-text-color: #e4b21e; 
//   --ternary-text-color: white;

//   --border-color: #011c44;
//   --secondary-border-color: rgb(189, 189, 189); /* Softer borders */
//   --primary-hover-color: #e4e4f1;
// }
