a {
  padding: 12px 10px;
  width: 90%;
  margin: 5px 12px;
  text-decoration: none;
  color: var(--ternary-text-color);
  align-items: center;

  .mat-icon {
    color: var(--ternary-text-color);
  }

  &:hover {
    background-color: var(--secondary-color);
    color: var(--primary-text-color);
    border-radius: 8px;

    .mat-icon {
      color: var(--primary-text-color);
    }
  }

  &.active {
    background-color: var(--secondary-color);
    color: var(--primary-text-color);
    border-radius: 8px;
  }
}

.sidebar-icon {
  height: 1.5rem;
  width: 1.5rem;
}

.spacer {
  flex: 1 1 auto;
}
